* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

section {
    display: flex;
}

#circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: black;
    color: white;
}

nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("../image/home-7-banner-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}
#iconhid{
    display: none; 
}
#logoheader {
    width: 12%;
    /* padding: 1rem; */
}
@media screen and (min-width:767px) and (max-width:1024px)  {
    nav{display: none}
    #iconhid{display: block; }
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
   

}

    @media screen and (min-width:1025px) and (max-width:1112px)  {
        nav {gap: 1rem;}
    }
    @media screen and (max-width:768px)  {
        nav{display: none}
        #hidd{display: none}
        #iconhid{display: block; }
        
    }
    #butheader {
        /* height: 59.2px; */
        /* width: 127.88px; */
        background-color: #6F49E8DE;
        color: white;
        border-radius: 1rem;
        font-size: 16px;
        margin: 0rem 1rem;
        padding: 1rem 2rem;
    }
    
    #h4header {
        font-size: 18px;
        padding-top: 0.5rem;
    }
    
    #divheader {
        display: flex;
    }
    
    #cicleheader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    @media screen and (min-width:767px) and (max-width:1024px)  {
        nav{display: none}
        #iconhid{display: block; }
    }
    @media screen and (max-width:768px)  {
        nav{display: none}
        #hidd{display: none}
        #iconhid{display: block; }
        #image1{
            right: 0px;
             }
    
    }
    
        @media screen and (min-width:1025px) and (max-width:1112px)  {
            nav {gap: 1rem;}
        }
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    @media screen and (max-width:768px)  {
        nav{display: none}
        #hidd{display: none}
        #iconhid{display: block; }
        #image1{
            right: 0px;
             }
             #diviconandinp {
                width: 457px;
                height: 70.8px;
                border: 0.5px solid black;
                background-color: white;
                border-radius: 1rem;
            }
            #inputicooon {
                /* width: 344px; */
            }
    }
    @media screen and (min-width:768px) and (max-width:1130px)  {
        #image2 {
           
            width: 45%;
    }
    }
    
    @media screen and (min-width:579px) and (max-width:992px)  {
        #formall {
          
            margin-bottom: 28rem;
        }
        #sec11 {
            
            margin-bottom: 30rem;
        }
    }
    @media screen and (min-width:279px) and (max-width:579px)  {
        #formall {
          
            margin-bottom: 28rem;
        }
        #sec11 {
            
            margin-bottom: 7rem;
        }
    }
    @media screen and (min-width:330px) and (max-width:579px)  {
        #formall {
          
            margin-bottom: 28rem;
        }
        #sec11 {
            
            margin-bottom: 16rem;
        }
    }
    @media screen and  (max-width:429px)  {
        
        #inputicooon {
            /* width: 227px; */
        }
        #diviconandinp {
            width: 318px;
            height: 70.8px;
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }




















section{background-color:#5a33db;/* padding: 6rem; */display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;padding: 1rem;align-items: flex-start;align-content: center;}
#imagediv1{
    width: 14%;
    border-radius: 50%;
}
#div1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 1rem 0rem;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}
#div11{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
#div12{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center; */
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
#div13{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
#psection{
    color: white;
    font-size: 45px;
    font-weight: 600;
    padding: 1rem 0rem;
}
section #div11 h5,section #div12 h5,section #div13 h5{
    font-size: 16px;
    color: white;
}
#div2{
    
display: flex;
    
flex-direction: row;
    
flex-wrap: wrap;
    
align-content: center;
    
align-items: center;
    
gap: 0rem;
    
justify-content: flex-start;
}
section #div2 h5{
    font-size: 16px;
    color: white;
}

main{

 position: relative; 
}
#div1main{
    
display: flex;
    
flex-direction: row;
    
flex-wrap: wrap;
    
align-content: center;
    
justify-content: center;
    
align-items: center;
    
margin: auto;
    
/* padding: 2rem 5.5rem; */
}
#div1main h5{font-size:16px;color:#6d6d6d;padding: 1rem 1rem;background-color:  #f7f5ff;text-align: center;}

main #div1main h5 {}
main #div2main h1{
    font-size: 31px;
    font-weight: 700;
}
main #div2main p{
    font-size: 16px;
    color: #666;
}
main #div3main h3{
    font-size: 20px;
    font-weight: 700;
}
main #div3main div h5{
    font-size: 16px;
    color: #666;
}
main #div4main h4{font-size: 20px;font-weight: 700;}
main #div4main p{font-size: 16px;color: #666;}
#div1main{}
#div2main{
    gap: 1rem;
    padding: 1rem 0rem;
}
#div3main{
    gap: 0.4rem;
    padding: 1rem 0rem;
}
#div4main{
    gap: 0.3rem;
    padding: 1rem 0rem;
}
main #div3main div{}
#rightdiv3main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#mainall{padding: 1rem;}
@media screen and (min-width:319px) and (max-width:426px) {
    section #div11 h5, section #div12 h5, section #div13 h5 {
        font-size: 11px;
        color: white;
    }
    #imagediv1 {
        width: 41%;
        border-radius: 50%;
    }
    
}
@media screen and (min-width:426px) and (max-width:768px) {
    section #div11 h5, section #div12 h5, section #div13 h5 {
        font-size: 11px;
        color: white;
    }
    #imagediv1 {
        width: 22%;
        border-radius: 50%;
    }

}
 main #divmaincard{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    margin: auto;
    padding: 1rem 0rem;
}
 #divmaincardimage{
    height:190px;
    width: 315px;
    border-radius: 2rem 2rem 0rem 0rem;
}
main #divmaincarddiv1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0rem 0rem;
    background-color: #f7f7f7;
}
main #divmaincarddiv2{
    background-color: #f7f7f7;
    width: 316px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0rem 0rem 2rem 2rem;
}
main #divmaincarddiv21{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
main #divmaincarddiv22{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
main #divmaincarddiv23{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
main #divmaincard #divmaincarddiv1 h4 {
    color: #6F49E8;
    font-size: 30px;
}
main #divmaincard #divmaincarddiv1 button{
    outline: 0;
    border: 0;
    border-radius: 1rem;
    background-color: #6F49E8;
    color: white;
    font-size: 16px;
    width: 316px;
    height: 48px;
}  
main #divmaincard #divmaincarddiv1 p{
    font-size: 14px;
}
main #divmaincard #divmaincarddiv2 #divmaincarddiv21 p {
    font-size: 15px;
}
main #divmaincard #divmaincarddiv2 #divmaincarddiv22 p {
    font-size: 15px;
}
main #divmaincard #divmaincarddiv2 #divmaincarddiv23 p {
    font-size: 15px;
}







  /* main #divmaincarda{
    width: 21%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    left: 1041px;
    bottom: 0;
    background-color: #f7f7f7;
    border-radius: 1rem;
}
 #divmaincardimagea{
   
        height: 190px;
        width: 315px;
        border-radius: 1rem 1rem 0rem 0rem;
   
}
 main #divmaincarddiv1a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 main #divmaincarddiv2a{}
 main #divmaincarddiv21a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}
 main #divmaincarddiv22a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}
 main #divmaincarddiv23a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}
 main #divmaincarda #divmaincarddiv1a h4 {
    color: #6F49E8;
    font-size: 30px;
}
 main #divmaincarda #divmaincarddiv1a button{
    outline: 0;
    border: 0;

    border-radius: 1rem;
    background-color: #6F49E8;
    color: white;
    font-size: 16px;
    width: 260px;
    height: 48px;
}  
 main #divmaincarda #divmaincarddiv1a p{
    font-size: 14px;
}
 main #divmaincarda #divmaincarddiv2a #divmaincarddiv21a p {
    font-size: 15px;
}
 main #divmaincarda #divmaincarddiv2a #divmaincarddiv22a p {
    font-size: 15px;
}
 main #divmaincard. #divmaincarddiv2a #divmaincarddiv23a p {
    font-size: 15px;
} */

/* @media screen and (min-width:1000px) and ( max-width:1024px){
    #divmaincard {
        
        left: 731px;
       
    }
}
@media screen and (min-width:1024px) and ( max-width:1241px){
    #divmaincard {
        
        top: 194px;
        
        left: 882px;
       
    }
 
}
@media screen and (min-width:1241px) and ( max-width:1407px){
    #divmaincard {
        
        left: 842px;
       
    }
}
@media screen and (min-width:769px) and ( max-width:934px){
    #div1 {
  
        width: 73%;
    }
    #psection {
    
width: 60%;
    }
    #div2 {
    
    width: 66%;
}
#div1main {
    
width: 64%;
}
#div2main {
    width: 65%;
}
#rightdiv3main {

    width: 70%;
}
main #div4main p {

width: 68%;
}
#divmaincard {
    top: 211px;
    left: 496px;
}
#divmaincard {
    width: 40%;
}
#divmaincard {
    top: 340px;
    left: 465px;
}
} */
@media screen  and (min-width:769px) {
    main #divmaincard {
     
        display: none;
    }
}
@media screen  and (max-width:769px) {
    main #divmaincard {
     
        
    }
}

#brocont {
    background-color: #7A63FA;
    padding: 1rem;
}
#inputicon{

    border-radius:0.5rem;
    background-color:#7A63FA;
    padding: 1.5rem;
}
#diviconandinp{
    border: 0.5px solid black;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
#inputicooon {
    /* width: 500px; */
    /* height: 68.8px; */
    border: 0;
    outline: 0;
    border-radius: 1rem;
    /* padding: 0rem 6rem; */
    padding-right: 10rem;
}
@media screen and  (max-width:768px)  {
    form {
        /* height: 241px; */
        background-color: white;
    }
    
    #inputtext { 
       
           width: 80%; 
}
#sectionn button {
    padding: 1rem;
}
#inputselect {
    width: 80%;
}

   
}
@media screen and  (min-width:768px) and  (max-width:992px)   {
    #sectionn {
        
        margin-bottom: 12rem;
    }
}
@media screen and  (max-width:992px)  {
}
@media screen and  (min-width:992px) and  (max-width:1368px)  { 
    #sec3main {
        height: 973.4px;
      
    }
}


@media screen and (min-width:1379px)  { 
    
    @media screen and (min-width: 768px) and (max-width: 1086px){
        #imgseccs11 {
            width: 48%;
        }
        
    }
    @media screen and  (max-width: 579px){
        #imgseccs11 {
            width: 18%;
        }
    
    }
    @media screen and (min-width: 579px) and (max-width: 768px){
        #imgseccs11 {
            width: 14%;
        }
        
    }
    @media screen and (min-width: 992px) and (max-width: 1500px){
        #seccs{
            height: 600px;
            background-image:url("../image/global-map-vector-layer.png") ;
            background-position:center ;
            background-size: cover;
            background-repeat:no-repeat;
            margin-bottom: 5rem;
        }
        #imgseccs11 {
            width: 30%;
        }
        
    }
    @media screen and  (max-width: 300px){
        #inputicooon {
            width: 179px;
            
        }
        #diviconandinp {
            width: 318px;
            height: 70.8px;
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        #formall {
           
            margin-bottom: 17rem;
        }
    }
}
@media screen and  (max-width:330px)  {
    
    #sec11 {
        margin-bottom: 17rem;
    }
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
    #image1{
        right: 0px;
         }
         #diviconandinp {
            /* width: 457px; */
            /* height: 70.8px; */
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
        }
        #inputicooon {
            /* width: 344px; */
        }
}
@media screen and (min-width:768px) and (max-width:1130px)  {
    #image2 {
       
        width: 45%;
}
}

@media screen and (min-width:579px) and (max-width:992px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
        margin-bottom: 30rem;
    }
}
@media screen and (min-width:279px) and (max-width:579px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
        margin-bottom: 7rem;
    }
}
@media screen and (min-width:330px) and (max-width:579px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
        margin-bottom: 16rem;
    }
}
@media screen and  (max-width:429px)  {
    
    #inputicooon {
        /* width: 182px; */
        padding: 0.5rem;
    }
    #diviconandinp {
        /* width: 318px; */
        /* height: 70.8px; */
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
#h1details{
    font-size:24px ;
}
#h4details{
    font-size:18px ;
}

@media screen and (min-width:424px) and (max-width:769px)  {

  
    #logoheader {
        width: 35%;
        /* padding: 1rem; */
    }
    #kkk {
        
        gap: 7rem;
    }
}
@media screen and (max-width:376px)  {

   
    #logoheader {
        width: 50%;
        /* padding: 1rem; */
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        background-image: url(../image/home-7-banner-bg-img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}
#devis{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width:426px)  {
    section h1 {
        font-size: 30px;
    }
    section p {
        font-size: 15px;
    }
    #sectionn #detail1 h1 {
        font-size: 30px;
    }
    #bbbbbiggg #jhk h1 {
        font-size: 30px;
    }
    #kkk {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2.1rem;
    }
}
#h111aside{
    font-size: 30px;
    font-weight: 600;
}
#pppaside{
    font-size: 17px;
}
#logofooter {
    width: 55%;
}
@media screen and (max-width:769px)  {

}
#logofooter{
    #logofooter {
        width: 60%;
    }
    main #div2main h1 {
        font-size: 31px;
    }
}
#footer2{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;background-position:center ; background-position: center; background-repeat: no-repeat;
  background-image: url('../image/fooooter.png');
}
#imgfooter2{
    
}
#c{
    color: #7A63FA; 
    text-decoration: none;
}
#a,#b,#d,#e {
   
    text-decoration: none;
    color: #3D3458;
}
#a:hover {
    text-decoration: none;
    color: #7A63FA;
}
#b:hover {
    text-decoration: none;
    color: #7A63FA;
}

#c:hover {
    text-decoration: none;
    color: #7A63FA;
}

#d:hover {
    text-decoration: none;
    color: #7A63FA;
}

#e:hover {
    text-decoration: none;
    color: #7A63FA;
}

#h4header {
    text-decoration: none;
    color: #3D3458;
}

#buttheader {
    text-decoration: none;
    color: white;
}

#butheader {
    text-decoration: none;
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: #7A63FA;
    ;
}

#butheader:hover {
    background-color: #7a63fadf;
}

#h4header:hover {
    text-decoration: none;
    color: #7A63FA;
}
@media screen and (min-width:769px){
    #div1main {
       
        margin: 0;
      
    }
}
#div1mainss1:hover{
background-color: white !important;
border-top: #7A63FA 2px solid;
color: #7A63FA;
}
#div1mainss2:hover{
    background-color: white !important;
    border-top: #7A63FA 2px solid;
    color: #7A63FA;
}
#div1mainss3:hover{
    background-color: white !important;
    border-top: #7A63FA 2px solid;
    color: #7A63FA;
}
#div1mainss4:hover{
    background-color: white !important;
    border-top: #7A63FA 2px solid;
    color: #7A63FA;
}
#inputicon {
    border: 0;
    outline: 0;
    color: white;
}

#inputicon:hover {

    background-color: #7a63fadf;

}
@media screen and (max-width:768px){
#contaaai{
    display: flex !important; 
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
}
}
main #divmaincard #divmaincarddiv1 button:hover {
    background-color: black;

}
@media screen and (max-width:426px) {
    #image2{
        display: none !important;
    }
}
@media screen and (max-width:769px) {
   
    #image2 {
        width: 42%;
        top: 208px;
        right: 288px;
    }
}
image2 {

    animation-name: image2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: ease all 1500ms;
}

@keyframes image2 {

    0% {
        top: 130px;
    right: 330px;
    }

    25% {
        top: 190px;
        right: 330px;
    }
    50% {
        top: 207px;
        right: 330px;
    }

    100% {
        top: 130px;
        right: 330px;
    }

} 
#image1 {
position: absolute;
    animation-name: image1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: ease all 1500ms;
}

@keyframes image1 {

    0% {
        right: -28px;
    top: 0px;
    }

    25% {
        right: -28px;
        top: 25px;
    }
    50% {
        right: -28px;
        top: 46px;
    }

    100% {
        right: -28px;
    top: 0px;
    }

} 
@media screen and (max-width:769px) {
    #foooter{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;background-position:center ; background-position: center; background-repeat: no-repeat;
    background-image: url('../image/fooooter.png');
       
        display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    }
}
#foooter{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: space-between;
align-items: center;background-position:center ; background-position: center; background-repeat: no-repeat;
background-image: url('../image/fooooter.png');
}
/*  */
main #divmaincarda{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* margin: auto; */
    /* padding: 1rem 0rem; */
    position: absolute;
    /* position: sticky; */
    top: 65px;
    right: 131px;
}
 #divmaincardimagea{
    height:190px;
    width: 315px;
    border-radius: 2rem 2rem 0rem 0rem;
}
main #divmaincarddiv1a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0rem 0rem;
    background-color: #f7f7f7;
}
main #divmaincarddiv2a{
    background-color: #f7f7f7;
    width: 316px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0rem 0rem 2rem 2rem;
}
main #divmaincarddiv21a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
main #divmaincarddiv22a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
main #divmaincarddiv23a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
main #divmaincarda #divmaincarddiv1a h4 {
    color: #6F49E8;
    font-size: 30px;
}
main #divmaincarda #divmaincarddiv1a button{
    outline: 0;
    border: 0;
    border-radius: 2rem;
    background-color: #6F49E8;
    color: white;
    font-size: 16px;
    width: 316px;
    height: 48px;
}  
main #divmaincarda #divmaincarddiv1a p{
    font-size: 14px;
}
main #divmaincarda #divmaincarddiv2a #divmaincarddiv21a p {
    font-size: 15px;
}
main #divmaincarda #divmaincarddiv2a #divmaincarddiv22a p {
    font-size: 15px;
}
main #divmaincarda #divmaincarddiv2a #divmaincarddiv23a p {
    font-size: 15px;
}
@media screen and  (max-width:769px){
    main #divmaincarda{
        display: none;
    }
}
main #divmaincarda #divmaincarddiv1a button:hover {
    background-color: black;
}