* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: fit-content;
    height: 100vh;
}

#circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: black;
    color: white;
}

nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../image/breadcrumb-inner-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#iconhid{
     display: none; 
}
#logoheader {
    width: 60%;
    padding: 1rem;
}

#butheader {
    height: 59.2px;
    width: 127.88px;
    background-color: #6F49E8DE;
    color: white;
    border-radius: 1rem;
    font-size: 16px;
    margin: 0rem 1rem;
}

#h4header {
    font-size: 18px;
    padding-top: 0.5rem;
}

#divheader {
    display: flex;
}

#cicleheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:767px) and (max-width:1024px)  {
    nav{display: none}
    #iconhid{display: block; }
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
    #image1{
        right: 0px;
         }

}

    @media screen and (min-width:1025px) and (max-width:1112px)  {
        nav {gap: 1rem;}
    }




#Con {
    height: 400px;
}

#sec1 {
    height: 400px;
    background-image: url("../image/breadcrumb-inner-bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

#sec1image2 {
    position: relative;
}

#i1 {
    position: absolute;
    width: 183px;
    height: 182px;
    left: 316px;
}

#i2 {
    left: 121px;
    width: 270px;
    height: 230px;
    position: absolute;
}

#i3 {
    width: 161px;
    height: 159px;
    position: absolute;
    left: 280px;
}

#i4 {
    width: 104px;
    height: 136px;
    position: absolute;
    top: 141px;
    left: 34px;
}

#i5 {
    width: 111px;
    height: 135px;
    position: absolute;
    top: 95px;
    left: 272px;
}

#i6 {
    width: 104px;
    height: 103px;
    position: absolute;
    right: 669px;
    top: 148px;
}



#ccoonn {
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 5rem;
}


#imgi {
    height: 311px;
}

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    padding: 3rem 0rem;
}

#iconcircle {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eae4fd;
}

#inputicon {
    width: 60px;
    height: 52px;
    border-radius: 0.5rem;
    background-color: #7A63FA;
}

#diviconandinp {
    width: 589px;
    height: 70.8px;
    border: 0.5px solid black;
    background-color: white;
    border-radius: 1rem;
}

#brocont {
    height: 208.8px;
    background-color: #7A63FA;
}

#inputicooon {
    width: 500px;
    height: 68.8px;
    border: 0;
    outline: 0;
    border-radius: 1rem;
}


#sec11 {
    height: 400px;
    background-image: url("../image/breadcrumb-inner-bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 1rem;
}

#images {
    background-image: url("../image/breadcrumb-feature-img.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    position: relative;
}
#image1{
   
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -28px;
    top: 0px;
}
#immmg1{
    width: 70%;
}
#immmg2{
    width: 44%;
    
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}
#image2{
    position: absolute;
    top: 172px;
    right: 330px;
}
#conte{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
    #image1{
        right: 0px;
         }
         #diviconandinp {
            width: 457px;
            height: 70.8px;
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
        }
        #inputicooon {
            width: 344px;
            
        }
}
@media screen and (min-width:768px) and (max-width:1130px)  {
    #image2 {
       
        width: 45%;
}
}
@media screen and (min-width:579px) and (max-width:992px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
/* margin-bottom: 30rem; */
    }
}
@media screen and (min-width:279px) and (max-width:579px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
/* margin-bottom: 7rem; */
    }
}
@media screen and (min-width:330px) and (max-width:579px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
/* margin-bottom: 16rem; */
    }
}
@media screen and  (max-width:429px)  {
    
    #inputicooon {
        width: 227px;
        
    }
    #diviconandinp {
        width: 318px;
        height: 70.8px;
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
@media screen and  (max-width: 300px){
    #inputicooon {
        width: 179px;
        
    }
    #diviconandinp {
        width: 318px;
        height: 70.8px;
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:767px) and (max-width:1024px) {
    nav {
        display: none
    }

    #iconhid {
        display: block;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }


}

@media screen and (min-width:1025px) and (max-width:1112px) {
    nav {
        gap: 1rem;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

}
@media screen and (min-width:767px) and (max-width:1024px) {
    nav {
        display: none
    }

    #iconhid {
        display: block;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

    #image1 {
        right: 0px;
    }

}

@media screen and (min-width:1025px) and (max-width:1112px) {
    nav {
        gap: 1rem;
    }
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

    #image1 {
        right: 0px;
    }
}
#butheader {
    /* height: 59.2px; */
    /* width: 127.88px; */
    background-color: #6F49E8DE;
    color: white;
    border-radius: 1rem;
    font-size: 16px;
    margin: 0rem 1rem;
    padding: 1rem 2rem;
}

#h4header {
    font-size: 18px;
    padding-top: 0.5rem;
}

#divheader {
    display: flex;
}

#cicleheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
section {
    display: flex;
}

#circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: black;
    color: white;
}

nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("../image/home-7-banner-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

#iconhid {
    display: none;
}

#logoheader {
    width: 12%;
    /* padding: 1rem; */
}
#d{
    color: #7A63FA; 
    text-decoration: none;
}
#a,#c,#b,#e {
   
    text-decoration: none;
    color: #3D3458;
}
#a:hover {
    text-decoration: none;
    color: #7A63FA;
}
#b:hover {
    text-decoration: none;
    color: #7A63FA;
}

#c:hover {
    text-decoration: none;
    color: #7A63FA;
}

#d:hover {
    text-decoration: none;
    color: #7A63FA;
}

#e:hover {
    text-decoration: none;
    color: #7A63FA;
}

#h4header {
    text-decoration: none;
    color: #3D3458;
}

#buttheader {
    text-decoration: none;
    color: white;
}

#butheader {
    text-decoration: none;
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: #7A63FA;
    ;
}

#butheader:hover {
    background-color: #7a63fadf;
}

#h4header:hover {
    text-decoration: none;
    color: #7A63FA;
}
nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("../image/home-7-banner-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}
#iconhid{
    display: none; 
}
#logoheader {
    width: 12%;
    /* padding: 1rem; */
}
@media screen and (min-width:767px) and (max-width:1024px)  {
    nav{display: none}
    #iconhid{display: block; }
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
   

}

    @media screen and (min-width:1025px) and (max-width:1112px)  {
        nav {gap: 1rem;}
    }
    @media screen and (max-width:768px)  {
        nav{display: none}
        #hidd{display: none}
        #iconhid{display: block; }
        
    }
    @media screen and (min-width:768px) and (max-width:1130px)  {
      
    }
    
    @media screen and (min-width:579px) and (max-width:992px)  {
      
    }
    @media screen and (min-width:279px) and (max-width:579px)  {
     
    }
    @media screen and (min-width:330px) and (max-width:579px)  {
       
    }
    @media screen and  (max-width:429px)  {
        
        
    }
#butheader {
    /* height: 59.2px; */
    /* width: 127.88px; */
    background-color: #6F49E8DE;
    color: white;
    border-radius: 1rem;
    font-size: 16px;
    margin: 0rem 1rem;
    padding: 1rem 2rem;
}

#h4header {
    font-size: 18px;
    padding-top: 0.5rem;
}

#divheader {
    display: flex;
}

#cicleheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width:767px) and (max-width:1024px)  {
    nav{display: none}
    #iconhid{display: block; }
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
    #image1{
        right: 0px;
         }

}

    @media screen and (min-width:1025px) and (max-width:1112px)  {
        nav {gap: 1rem;}
    }
div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
    #image1{
        right: 0px;
         }
         #diviconandinp {
            width: 457px;
            height: 70.8px;
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
        }
        #inputicooon {
            /* width: 344px; */
        }
}
@media screen and (min-width:768px) and (max-width:1130px)  {
    #image2 {
       
        width: 45%;
}
}

@media screen and (min-width:579px) and (max-width:992px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
/* margin-bottom: 30rem; */
    }
}
@media screen and (min-width:279px) and (max-width:579px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
/* margin-bottom: 7rem; */
    }
}
@media screen and (min-width:330px) and (max-width:579px)  {
    #formall {
      
        margin-bottom: 28rem;
    }
    #sec11 {
        
/* margin-bottom: 16rem; */
    }
}
@media screen and  (max-width:429px)  {
    
    #inputicooon {
        /* width: 227px; */
    }
    #diviconandinp {
        width: 318px;
        height: 70.8px;
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:768px)  {
    nav{display: none}
    #hidd{display: none}
    #iconhid{display: block; }
    #image1{
        right: 0px;
         }
         #diviconandinp {
            /* width: 457px; */
            /* height: 70.8px; */
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
        }
        #inputicooon {
            /* width: 344px; */
        }
}
@media screen and  (max-width:429px)  {
    
    #inputicooon {
        /* width: 182px; */
        padding: 0.5rem;
    }
    #diviconandinp {
        /* width: 318px; */
        /* height: 70.8px; */
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:376px)  {

   
    #logoheader {
        width: 50%;
        /* padding: 1rem; */
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        background-image: url(../image/home-7-banner-bg-img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}
@media screen and (min-width:377px) and (max-width:769px){
    #logoheader {
        width: 28%;
       
    }
}
#logofooter{
    width: 50%;
}
#inputicon:hover {

    background-color: #7a63fadf;

}
@media screen and (max-width:768px){
#contaaai{
    display: flex !important; 
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
}
}
@media screen and (max-width:426px) {
    #image2{
        display: none !important;
    }
}
@media screen and (max-width:769px) {
   
    #image2 {
        width: 42%;
        top: 208px;
        right: 288px;
    }
}
#image2 {

    animation-name: image2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: ease all 1500ms;
}

@keyframes image2 {

    0% {
        top: 130px;
    right: 330px;
    }

    25% {
        top: 190px;
        right: 330px;
    }
    50% {
        top: 207px;
        right: 330px;
    }

    100% {
        top: 130px;
        right: 330px;
    }

} 
#image1 {
position: absolute;
    animation-name: image1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: ease all 1500ms;
}

@keyframes image1 {

    0% {
        right: -28px;
    top: 0px;
    }

    25% {
        right: -28px;
        top: 25px;
    }
    50% {
        right: -28px;
        top: 46px;
    }

    100% {
        right: -28px;
    top: 0px;
    }

} 
@media screen and (max-width:769px) {
    #foooooooter2{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        align-items: flex-end !important;
        justify-content: center!important;
        align-items: center!important;
        background-position: center!important;
        background-position: center!important;
        background-repeat: no-repeat !important;
        background-image: url(../image/fooooter.png)!important;
        align-content: center!important;
        gap: 1.3rem !important;
    }
}