* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

section {
    display: flex;
}

#circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: black;
    color: white;
}

nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("../image/home-7-banner-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

#iconhid {
    display: none;
}

#logoheader {
    width: 12%;
    /* padding: 1rem; */
}

@media screen and (min-width:767px) and (max-width:1024px) {
    nav {
        display: none
    }

    #iconhid {
        display: block;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }


}

@media screen and (min-width:1025px) and (max-width:1112px) {
    nav {
        gap: 1rem;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

}

@media screen and (min-width:768px) and (max-width:1130px) {}

@media screen and (min-width:579px) and (max-width:992px) {}

@media screen and (min-width:279px) and (max-width:579px) {}

@media screen and (min-width:330px) and (max-width:579px) {}

@media screen and (max-width:429px) {}

#butheader {
    /* height: 59.2px; */
    /* width: 127.88px; */
    background-color: #6F49E8DE;
    color: white;
    border-radius: 1rem;
    font-size: 16px;
    margin: 0rem 1rem;
    padding: 1rem 2rem;
}

#h4header {
    font-size: 18px;
    padding-top: 0.5rem;
}

#divheader {
    display: flex;
}

#cicleheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width:767px) and (max-width:1024px) {
    nav {
        display: none
    }

    #iconhid {
        display: block;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

    #image1 {
        right: 0px;
    }

}

@media screen and (min-width:1025px) and (max-width:1112px) {
    nav {
        gap: 1rem;
    }
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

    #image1 {
        right: 0px;
    }

    #diviconandinp {
        width: 457px;
        height: 70.8px;
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
    }

    #inputicooon {
        /* width: 344px; */
    }
}

@media screen and (min-width:768px) and (max-width:1130px) {
    #image2 {

        width: 45%;
    }
}

@media screen and (min-width:579px) and (max-width:992px) {
    #formall {

        margin-bottom: 28rem;
    }

    #sec11 {

        margin-bottom: 30rem;
    }
}

@media screen and (min-width:279px) and (max-width:579px) {
    #formall {

        margin-bottom: 28rem;
    }

    #sec11 {

        margin-bottom: 7rem;
    }
}

@media screen and (min-width:330px) and (max-width:579px) {
    #formall {

        margin-bottom: 28rem;
    }

    #sec11 {

        margin-bottom: 16rem;
    }
}

@media screen and (max-width:429px) {

    #inputicooon {
        /* width: 227px; */
    }

    #diviconandinp {
        width: 318px;
        height: 70.8px;
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url("../image/home-7-banner-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 712px; */
}

section h1 {
    font-size: 40px;
}

section h4 {
    font-size: 18px;
    color: #6F49E8DE;
}

section p {
    font-size: 20px;
}

form {
    /* height: 152px; */
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
}

#formsearch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid black; */
}

#formselect {
    /* border-left: solid black 0.01rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#inputtext {
    height: 65px;
    outline: 0;
    border: 0;
    /* border: 1px solid #0000000d; */
}

#inputselect {
    height: 65px;
    outline: 0;
    border: 0;
}

#butform {
    height: 61.42px;
    width: 165.2px;
    border-radius: 1.5rem;
    background-color: #6F49E8DE;
    color: white;
}

#section2 {
    /* height: 200px; */
    background-color: white
}

#section2 #section23 #section233 h3,
#section2 #section21 #section211 h3,
#section2 #section22 #section222 h3,
#section2 #section24 #section244 h3 {
    font-size: 18px;
}

#section2 #section23 #section233 p,
#section2 #section21 #section211 p,
#section2 #section22 #section222 p,
#section2 #section24 #section244 p {
    font-size: 16px;
}

#section2 #section21 #section211,
#section2 #section22 #section222,
#section2 #section23 #section233,
#section2 #section24 #section244 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#section2 #section21,
#section2 #section22,
#section2 #section23,
#section2 #section24 {

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    align-content: center;

    justify-content: center;

    align-items: center;

    /* border-bottom: 0.01rem solid black; */
}

#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    padding: 2rem;
}

#imaaage {
    /* height: 82px; */
    /* width: 78px; */
    border-radius: 20%;
    background-color: #f1ecfc;
    padding: 1rem 0rem;
}

#imaaage img {
    width: 60%;
}

#sec3div h1 {
    font: size 20px;
    font-size: 20px;
}

#sec3div P {
    font: size 18px;
    ;

}

#sec3div {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-content: center;
}

#section3 {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sec33 {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

#sec33 h4 {
    color: #7A63FA;
    font-size: 16px;
}

#sec33 h1 {
    font-size: 30px;
}

#sec33 h1 {
    font-size: 30px;
}

#sec33 p {
    font-size: 16px;
}

#seeecc3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 1rem;
}

#sec3main {
    /* height: 998.4px; */
    display: flex;
    background-color: #FAFAFA;
    padding: 2rem;
}

#sec3photos {
    background-image: url("../image/h-7-category-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;



}

#imagesec {
    display: flex;
}

#sectionn {
    /* height: 934px; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap;
    padding: 2rem;
}

#sectionndiv11 {
    /* height: 158px; */
    background-color: #FCFCFC;
}

#sectionnphoto {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #CFBCF3;
    padding: 1rem;
}

#sectionn #sectionndiv11 #details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

#sectionn #sectionndiv11 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* height: 158px; */
    border-radius: 2rem;
    /* gap: 1rem; */
    padding: 2rem 0rem;
}

#sectionn #detail1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#sectionn #detail1 h4 {
    font-size: 18px;
}

#sectionn #detail1 h1 {
    font-size: 55px;
}

#alldetais {

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    align-content: center;

    justify-content: center;

    align-items: center;

    gap: 2rem;
}

#sectionn button {
    /* width: 196.43px; */
    /* height:65.2px ; */
    border-radius: 1rem;
    color: white;
    background-color: #6F49E8DE;
    font-size: 18px;
    padding: 1rem 2rem;
}

#sfd {
    display: flex;
}

#exp {
    height: 494px;
    border-radius: 1.8rem;
}

.row {
    --bs-gutter-x: 0rem;
}

#exp1 {
    height: 220px;
    background-image: url("../image/marketing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
    /* padding: 7rem; */
}

#exp22 {
    height: 220px;
    background-image: url(../image/2222.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

#exp3 {
    height: 220px;
    background-image: url(../image/3333.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

#exp4 {
    height: 220px;
    background-image: url(../image/4444.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

#exp5 {
    height: 220px;
    background-image: url(../image/5555.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

#exp6 {
    height: 220px;
    background-image: url(../image/6666.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

#h1position {
    /* height: 32.8px; */
    /* width: 147.95px; */
    background-color: #7A63FA;
    text-align: center;
    font-size: 12px;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    position: absolute;
    top: 203px;
    left: 31px;
}

#circleposition {
    color: #7A63FA;
    position: absolute;
    font-size: 1.5rem;
    top: 196px;
    right: 50px;
    background-color: #f9f9f9;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

#exp2 {
    /* height:242px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0rem 0rem 2rem 2rem;
    padding: 2rem 0rem;
}

#exp #exp2 div img {
    width: 16%;

}

#exp #exp2 div h5 {
    font-size: 9px;
}

#exp #exp2 div {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#exp #exp2 h4 {
    font-size: 12px;
}

#exp #exp2 {
    /* font-size: 14px; */
    background-color: aliceblue;
    padding: 2rem 1rem;
}

#fdsgf {
    border-bottom: 0.01rem solid #00000012;
}

#bbbbbiggg {
    /* height: 1930.28px; */
    background-color: #FAFAFA;
    margin-bottom: 4rem;
    padding: 2rem 0rem;
}

#bbbbbiggg #jhk h1 {
    font-size: 55px;
}

#bbbbbiggg #jhk h4 {
    font-size: 18px;
    color: #7A63FA;
}

#jhk {

    flex-direction: column;

    flex-wrap: wrap;

    align-items: center;

    align-content: center;

    justify-content: center;

    margin-bottom: 3rem;
}

#navbig {

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

#navbig #b {
    border: 0.01rem solid black;
    padding: 0.6rem 1rem
}

#navbig #c {
    border: 0.01rem solid black;
    padding: 0.6rem 1rem
}

#navbig #d {
    border: 0.01rem solid black;
    padding: 0.6rem 1rem
}

#navbig #e {
    border: 0.01rem solid black;
    padding: 0.6rem 1rem
}

#navbig #f {
    border: 0.01rem solid black;
    padding: 0.6rem 1rem
}

#enter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#mvc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 8rem;
}

#bigest {
    /* height: 1186px; */
    background-color: #FAFAFA;
    margin-bottom: 2rem;
    padding: 3rem 0rem;
}

#lll {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

#kkk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 18rem;
    padding: 0rem 0rem;
    padding: 1rem;
}

#butkkk {
    /* width:161px; */
    /* height:65.2px ; */
    border-radius: 0.5rem;
    color: white;
    background-color: #7A63FA;
    padding: 1rem 2rem;
    text-align: center;
}


div #bigest #bigbig #exp #exp1 H1 {
    /* height: 32.8px; */
    /* width: 197.95px; */
    background-color: #7A63FA;
    text-align: center;
    font-size: 14px;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    position: relative;
    top: 110px;
    right: 59px;
    padding: 0.5rem 1rem;
}


div #bigest #bigbig #exp #exp2 #jjj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}


aside {
    /* height: 654px; */
    background-color: #7A63FA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

aside div h5 {
    font-size: 18px;
}

aside div h1 {
    font-size: 55px;
}

aside div p {
    font-size: 18px;
}

aside div button {
    width: 161px;
    /* height:67px ; */
    color: black;
    background-color: white;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
}

#aside1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0rem;
}

#imgaside {
    width: 66%;
    background-image: url(../image/h-7-footer-human-bg.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

#iconcircle {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eae4fd;
}

#inputicon {
    /* width: 60px ; */
    /* height:52px; */
    border-radius: 0.5rem;
    background-color: #7A63FA;
    padding: 1.5rem;
}

#diviconandinp {
    border: 0.5px solid black;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#brocont {
    background-color: #7A63FA;
    padding: 1rem;
}

#inputicooon {
    border: 0;
    outline: 0;
    border-radius: 1rem;
    padding-right: 10rem;
}

@media screen and (max-width:768px) {
    form {
        /* height: 241px; */
        background-color: white;
    }

    #inputtext {

        width: 80%;
    }

    #sectionn button {
        padding: 1rem;
    }

    #inputselect {
        width: 80%;
    }


}

@media screen and (min-width:768px) and (max-width:992px) {
    #sectionn {

        margin-bottom: 12rem;
    }
}

@media screen and (max-width:992px) {}

@media screen and (min-width:992px) and (max-width:1368px) {
    #sec3main {
        height: 973.4px;

    }
}


@media screen and (min-width:1379px) {

    @media screen and (min-width: 768px) and (max-width: 1086px) {
        #imgseccs11 {
            width: 48%;
        }

    }

    @media screen and (max-width: 579px) {
        #imgseccs11 {
            width: 18%;
        }

    }

    @media screen and (min-width: 579px) and (max-width: 768px) {
        #imgseccs11 {
            width: 14%;
        }

    }

    @media screen and (min-width: 992px) and (max-width: 1500px) {
        #seccs {
            height: 600px;
            background-image: url("../image/global-map-vector-layer.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 5rem;
        }

        #imgseccs11 {
            width: 30%;
        }

    }

    @media screen and (max-width: 300px) {
        #inputicooon {
            width: 179px;

        }

        #diviconandinp {
            width: 318px;
            height: 70.8px;
            border: 0.5px solid black;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        #formall {

            margin-bottom: 17rem;
        }
    }
}

@media screen and (max-width:330px) {

    #sec11 {
        margin-bottom: 17rem;
    }
}

@media screen and (max-width:768px) {
    nav {
        display: none
    }

    #hidd {
        display: none
    }

    #iconhid {
        display: block;
    }

    #image1 {
        right: 0px;
    }

    #diviconandinp {
        /* width: 457px; */
        /* height: 70.8px; */
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
    }

    #inputicooon {
        /* width: 344px; */
    }
}

@media screen and (min-width:768px) and (max-width:1130px) {
    #image2 {

        width: 45%;
    }
}

@media screen and (min-width:579px) and (max-width:992px) {
    #formall {

        margin-bottom: 28rem;
    }

    #sec11 {

        margin-bottom: 30rem;
    }
}

@media screen and (min-width:279px) and (max-width:579px) {
    #formall {

        margin-bottom: 28rem;
    }

    #sec11 {

        margin-bottom: 7rem;
    }
}

@media screen and (min-width:330px) and (max-width:579px) {
    #formall {

        margin-bottom: 28rem;
    }

    #sec11 {

        margin-bottom: 16rem;
    }
}

@media screen and (max-width:429px) {

    #inputicooon {
        /* width: 182px; */
        padding: 0.5rem;
    }

    #diviconandinp {
        /* width: 318px; */
        /* height: 70.8px; */
        border: 0.5px solid black;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

#h1details {
    font-size: 24px;
}

#h4details {
    font-size: 18px;
}

@media screen and (min-width:424px) and (max-width:769px) {


    #logoheader {
        width: 35%;
        /* padding: 1rem; */
    }

    #kkk {

        gap: 7rem;
    }
}

@media screen and (max-width:376px) {


    #logoheader {
        width: 50%;
        /* padding: 1rem; */
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        background-image: url(../image/home-7-banner-bg-img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}

#devis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width:426px) {
    section h1 {
        font-size: 30px;
    }

    section p {
        font-size: 15px;
    }

    #sectionn #detail1 h1 {
        font-size: 30px;
    }

    #bbbbbiggg #jhk h1 {
        font-size: 30px;
    }

    #kkk {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2.1rem;
        padding: 1rem;
    }
}

#h111aside {
    font-size: 30px;
    font-weight: 600;
}

#pppaside {
    font-size: 17px;
}

#logofooter {
    width: 55%;
}

@media screen and (max-width:321px) {
    #sectionn #sectionndiv11 {

        gap: 0rem;
    }

    #h1details {
        font-size: 18px;
    }

    #sectionnphoto {
        width: 90px;
        height: 90px;

    }
}

#logofooter {

    width: 60%;



}

/*  */
#animationphoto {

    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: ease all 800ms;
}

@keyframes example {

    /* form{
left: 0px;
   }
   to{
    left: 25px;
}  */
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 30px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }

}
#a{
    color: #7A63FA; 
}
#b,#c,#d,#e {
    color: #7A63FA;
    text-decoration: none;
    color: #3D3458;
}




/* header */
#b:hover {
    text-decoration: none;
    color: #7A63FA;
}

#c:hover {
    text-decoration: none;
    color: #7A63FA;
}

#d:hover {
    text-decoration: none;
    color: #7A63FA;
}

#e:hover {
    text-decoration: none;
    color: #7A63FA;
}

#h4header {
    text-decoration: none;
    color: #3D3458;
}

#buttheader {
    text-decoration: none;
    color: white;
}

#butheader {
    text-decoration: none;
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: #7A63FA;
    ;
}

#butheader:hover {
    background-color: #7a63fadf;
}

#h4header:hover {
    text-decoration: none;
    color: #7A63FA;
}

/* finish header */
#psecti1 {
    border-bottom: #7a63fa94 solid 4px;
}

#butform {
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: #7A63FA;
}

#butform:hover {
    background-color: #7a63fadf;
}

/* finish */
#direc {
    border-bottom: rgba(0, 0, 0, 0.332) solid 1px;
}

/* finish */
#coursess {
    border-bottom: #7a63fa94 solid 4px;
}

#phoimg:hover {
    width: 62%;
}

/* finish */
#jgsfdj {
    border-bottom: #7a63fa94 solid 3px;
}

#sectionn button {
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: #7A63FA;
    transition-property: width;
    transition-duration: 5s;

}

#sectionn button:hover {
    width: 200px;
    background-color: black;

}

/* finish */
#Tutorials {
    border-bottom: #7a63fa94 solid 5px;

}

#aa {
    text-decoration: none;

    border: 1px solid rgba(0, 0, 0, 0.114);
}

#bb {
    text-decoration: none;

    border: 1px solid rgba(0, 0, 0, 0.114);
}

#cc {
    text-decoration: none;

    border: 1px solid rgba(0, 0, 0, 0.114);
}

#dd {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.114);
}

#ee {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.114);
}

#ff {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.114);
}

#aa:hover {
    text-decoration: none;
    color: white;
    background-color: #7A63FA;
}

#bb:hover {
    text-decoration: none;
    color: white;
    background-color: #7A63FA;
}

#cc:hover {
    text-decoration: none;
    color: white;
    background-color: #7A63FA;
}

#dd:hover {
    text-decoration: none;
    color: white;
    background-color: #7A63FA;
}

#ee:hover {
    text-decoration: none;
    color: white;
    background-color: #7A63FA;
}

#ff:hover {
    text-decoration: none;
    color: white;
    background-color: #7A63FA;
}

/* finish */
#butkkk {
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: #7A63FA;
    transition-property: width;
    transition-duration: 5s;
}

#butkkk:hover {
    width: 180px;
    background-color: black;

}

#Events {
    border-bottom: #7a63fa94 solid 3px;

}

/*  */
aside div button {
    border: 0;
    outline: 0;
    font-weight: 600;
    background-color: white;
    transition-property: width;
    transition-duration: 5s;
}

aside div button:hover {
    width: 180px;
    background-color: black;
    color: white;
}

/*  */
#inputicon {
    border: 0;
    outline: 0;
    color: white;
}

#inputicon:hover {

    background-color: #7a63fadf;

}
@media screen and (max-width:768px){
#contaaai{
    display: flex !important; 
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
}
}
/*  */
#prrrpp:hover {
    color: #7A63FA;
}

/*  */


#colul:hover {
    color: #7A63FA;
}

/*  */
#expa {
    height: 220px;
    background-image: url(../image/evnt-760x560.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}
#expa:hover{
    width: 406px;}
#expb:hover{
    width: 406px;}
#expc:hover{
    width: 406px;}

#expb {
    height: 220px;
    background-image: url(../image/wonders-of-mentorship-760x560.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

#expc {
    height: 220px;
    background-image: url(../image/cyber-security-for-small-business-760x560.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
}

div #bigest #bigbig #exp #expa H1 {
    background-color: #7A63FA;
    text-align: center;
    font-size: 14px;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    position: relative;
    top: 110px;
    right: 59px;
    padding: 0.5rem 1rem;
}

div #bigest #bigbig #exp #expb H1 {
    background-color: #7A63FA;
    text-align: center;
    font-size: 14px;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    position: relative;
    top: 110px;
    right: 59px;
    padding: 0.5rem 1rem;
}

div #bigest #bigbig #exp #expc H1 {
    background-color: #7A63FA;
    text-align: center;
    font-size: 14px;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    position: relative;
    top: 110px;
    right: 59px;
    padding: 0.5rem 1rem;
}
/*  */
#nvmcv:hover{
    background-color: #7A63FA !important;
    color: white !important;
}
/*  */
body {
    font-family: 'Noto Sans', sans-serif;
    padding: 40px 0;
}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #db584e;
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
@media screen and (max-width:769px) {
    #foooooooter2{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        align-items: flex-end !important;
        justify-content: center!important;
        align-items: center!important;
        background-position: center!important;
        background-position: center!important;
        background-repeat: no-repeat !important;
        background-image: url(../image/fooooter.png)!important;
        align-content: center!important;
        gap: 1.3rem !important;
    }
}